.project {
    position: relative;
    width: 280px;
    color: "blue";
    list-style: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
    cursor: pointer;
}

.projectActive {
    position: relative;
    width: 280px;
    background-color: lightgray; 
    list-style: none;
    margin-bottom: 35px;
    margin-top: 35px;
    padding: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); 

    .upDownBtn {
        background-color: lightgray;
    }
}

.nameBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}



.buttonsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
}

.projectMainInfoPanel {
    margin-top: 20px;
    padding-bottom: 30px;
}


.editDelButtonBlock {
    position: absolute;
    bottom: -10px;
    left: 10px;
}

.upDownBlock {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.closeButtonBlock {
    position: absolute;
    top: -12px;
    right: 10px;
}

.closeBtn {
    font-size: 10px;
    background-color: lightgray;
    border: 1px solid lightgray;
    padding: 4px 15px 0px 15px;
    border-top: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px 5px 0 0;
}

.upDownBtn {
    font-size: 10px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0px 15px 4px 15px;
    border-top: none;
    cursor: pointer;
    outline: none;

    &:focus {
        // background-color: red;
    }

    &:first-of-type {
        border-radius: 0 0 0 5px;
    }
    &:last-of-type {
        border-radius: 0 0 5px 0;

    }
}

.timeTrackBlock {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

.timeControlBtn {
width: 45px;
height: 45px;
border-radius: 40px;
border: none;
display: flex;
justify-content: center;
align-items: center;
box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14),
0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
cursor: pointer;
}

.play {
    background-image: url('../../assets/images/play.svg');
    height: 10px;
    width: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;

}

.pause {
    background-image: url('../../assets/images/pause.svg');
    height: 10px;
    width: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;

}

.counter {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.timeWhenInactive {
    position: absolute;
    bottom: -10px;
    left: 10px;
    font-size: 10px;
    background-color: white;
    padding: 0px 15px 4px 15px;
    border-top: none;
    cursor: pointer;
    outline: none;
    border-radius: 0 0 5px 5px;
}