.project {
    width: 330px;
    color: "blue";
    list-style: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
}

.projectActive {
    width: 330px;
    background-color: lightgray; 
    list-style: none;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
}

.nameBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.buttonsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
}

.detailsBlock {
    margin-top: 20px;
}