.container {
    padding: 50px 15px 0 15px;
    min-height: 90vh;
    // background-image: url('./assets/images/moon.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px
}